# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite cache
dist/
.vite/

# Environment variables
.env
.env.local
.env.*.local

# MacOS files
.DS_Store

# VS Code settings
.vscode/
